<div data-role="popup" id="popup_sensorinput_bme280" data-position-to="window" data-transition="flip" data-theme="a" and data-overlay-theme="a" data-dismissible="true" class="ui-content">
	<form id="form_sensorinput_bme280">
		<h3 class="boxtitle ui-title">
			<span style="vertical-align:middle"><img src="./images/chip_title_32.png"></span>
			<TMPL_VAR SENSORINPUTS.LABEL_TITLE_SENSORINPUT>: bme280
		</h3>

		<div class="box">
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR SENSORINPUTS.LABEL_MODULENAME>
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="sensormodule_sensorinput_bme280" data-mini="true" value="" disabled="disabled">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_NAME>
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="name_sensorinput_bme280" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_NAME_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR SENSORS.LABEL_TYPE>
					</div>
					<div class="boxitem" style="width:75%">
						<select name="type_sensorinput_bme280" id="type_sensorinput_bme280" data-mini="true">
							<option value="temperature">Temperature</option>
							<option value="humidity">Humidity</option>
							<option value="pressure">Pressure</option>
						</select>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR SENSORINPUTS.LABEL_INTERVAL>
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="interval_sensorinput_bme280" data-mini="true" value="60">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<input type="hidden" id="edit_sensorinput_bme280" value="">
						<a href="#" onclick="add_sensorinput('bme280'); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_SAVE"></a>
						<a href="#" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all" data-rel="back"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<span id="savinghint_sensorinput_bme280">&nbsp;</span>
					</div>
			</div>
		</div>
	</form>
</div>

